@media (min-width: 520px) {
  .main-titel {
    font-size: 40px;
  }

  .text {
    font-size: 46px;
    text-decoration: underline;
  }

  .float-right {
    float right;
  }

  .resize {
    width: 40%;
    height: 40%;
    margin-bottom: 20px;
  }

  .container {
    margin: 0 auto;
    max-width: 800px;
    font-family: sans-serif;
    /* display: inline-block; */
  }

  .float {
    margin-left: 400px;
  }

  .links {
    float: left;
    margin-right: 30px;
    /* background-color: blue; */
  }

  .width {
    max-width: 400px;
  }

  .width1 {
    margin-right: 10%;
    max-width: 40em;
  }

  .blue {
    clear: both;
    background-color: rgba(191, 218, 224, 0.88);
    padding: 18px;
    padding-left: 70px;
    margin-bottom: 27px;
  }

  .lightblue {
    background-color: rgba(191, 218, 224, 0.88);
    padding: 38px;
    padding-left: 70px;
  }
}
